
.float{
	position:fixed;
	
	bottom:40px;
	right:40px;
	/* background-color:rgb(60, 94, 156); */
	/* color:#FFF; */
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.root{
 width: 300px;
  margin: 5px;
  
}

.push_right{
  margin-left:95%;
  /* position: fixed; */
  margin-bottom: 5%;
}
.container1{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  background-color: black;

  /* margin: 2px solid black; */
  /* background-color: gray; */
}

.color1{
  color: #808080;
}
.color0{
  color: #ffffff;
}

.card1{
  background-color: rgb(73, 73, 73);
}

.container2{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 30px;
  background-color: black;
  /* margin: 2px solid black; */
  /* background-color: green; */
}

.container3{
  margin-left: 80px;
  margin-right: 50px;
  background-color: black;

  margin-top: 10px;
  /* margin: 2px solid black; */
  /* background-color: rgb(156, 130, 143); */
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
